.App {
  text-align: center;
}
div#outputContainer {
  margin: auto;
  width: 50%;
}

div#activityOutput {
  text-align: start;
  margin: auto;
  width: 50%;
}

textarea#activityInput {
  min-width: 320px;
  margin: auto;
  min-height: 150px;
}
